body{
    background-color: aquamarine;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    text-decoration-color: aliceblue
}
img{
    border-radius:30px;
    width: 500px
}